.banner-community img {
  width: 100%;
  height: 427px;
}

.navbar-custom {
  background: linear-gradient(to right, #43bbf2, #3144a3);
}

.container-fluid {
  overflow: hidden;
}

a.nav-item.nav-link {
  color: white !important;
  font-family: 'Raleway', sans-serif;
}

a.nav-link.dropdown-toggle {
  color: white !important;
  font-family: 'Raleway', sans-serif;
}